.articles_container {
  max-width: 400px;
  margin-bottom: 12px;

  text-align: center;
}
.article_link {
  text-decoration: underline;
  color: black;
}
.article_link:hover,
.article_link:focus {
  color: blueviolet;
}
.article_title {
  font-size: 24px;
  line-height: 1.2;
}
